@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

@theme {
  --color-neutral0: hsl(0, 0%, 100%);
  --color-neutral100: hsl(240, 1%, 59%);
  --color-neutral500: hsl(240, 3%, 46%);
  --color-neutral800: hsl(0, 0%, 15%);
  --color-neutral900: hsl(0, 0%, 7%);

  --color-blue600: hsl(214, 100%, 55%);
  --color-blue400: hsl(210, 100%, 65%);

  --color-red500: hsl(354, 63%, 57%);

  --color-green500: hsl(140, 63%, 57%);

  --color-yellow400: hsl(49, 85%, 70%);

  --font-Sora: "Sora", sans-serif;
}
